body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:180px;
  top:60px;
  width:1080px;
  height:690px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:690px;
}
#u2 {
  position:absolute;
  left:2px;
  top:337px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:205px;
  top:120px;
  width:1030px;
  height:570px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:570px;
}
#u4 {
  position:absolute;
  left:2px;
  top:277px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:222px;
  top:208px;
  width:995px;
  height:482px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:482px;
}
#u6 {
  position:absolute;
  left:2px;
  top:233px;
  width:991px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1035px;
  top:690px;
  width:200px;
  height:30px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8 {
  position:absolute;
  left:574px;
  top:133px;
  width:283px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:552px;
  top:170px;
  width:336px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
