/*GLOBAL STYLES*/
html, body{

}
.thgGif{
    margin: 0;
}
.info h1{
    font-size: 6em;
    color: #a0a0a0;
}
.h3{

}
.info{  
    background-color: black;
    color: #606060;
    font-size: 12pt;
}
.pictureRow{
    background: #black;
}

.col-lg-4, .col-md-4{
    padding: 0;
}