body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:180px;
  top:60px;
  width:1080px;
  height:690px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:690px;
}
#u2 {
  position:absolute;
  left:2px;
  top:337px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:200px;
  top:200px;
  width:1020px;
  height:420px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:420px;
}
#u4 {
  position:absolute;
  left:2px;
  top:202px;
  width:1016px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:245px;
  top:295px;
  width:105px;
  height:220px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:220px;
}
#u6 {
  position:absolute;
  left:2px;
  top:102px;
  width:101px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:610px;
  top:113px;
  width:221px;
  height:37px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:37px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
