doctype html
html
	head

		title Learning Three
		link(rel='stylesheet' type='text/css' href='css/main.css')

		script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

		script(type='text/javascript' src='js/three.min.js')

	body
		div#webGL-container

		script(type='text/javascript' src='js/main.js')


		
		

