body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:180px;
  top:60px;
  width:1080px;
  height:690px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:690px;
}
#u2 {
  position:absolute;
  left:2px;
  top:337px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:880px;
  top:96px;
  width:360px;
  height:19px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
  background-image:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u4 {
  position:absolute;
  left:200px;
  top:80px;
  width:50px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:260px;
  top:86px;
  width:106px;
  height:37px;
  font-family:'Arial Bold Italic', 'Arial';
  font-style:italic;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:586px;
  top:160px;
  width:309px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:220px;
  top:197px;
  width:1000px;
  height:510px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:510px;
}
#u11 {
  position:absolute;
  left:2px;
  top:247px;
  width:996px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1050px;
  top:667px;
  width:100px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:525px;
  top:337px;
  width:115px;
  height:260px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:260px;
}
#u15 {
  position:absolute;
  left:2px;
  top:122px;
  width:111px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:275px;
  top:357px;
  width:115px;
  height:260px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:260px;
}
#u17 {
  position:absolute;
  left:2px;
  top:122px;
  width:111px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:670px;
  top:307px;
  width:500px;
  height:320px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:320px;
}
#u19 {
  position:absolute;
  left:2px;
  top:152px;
  width:496px;
  word-wrap:break-word;
}
