body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:180px;
  top:60px;
  width:1080px;
  height:690px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:690px;
}
#u2 {
  position:absolute;
  left:2px;
  top:337px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:260px;
  top:216px;
  width:240px;
  height:514px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:514px;
}
#u4 {
  position:absolute;
  left:2px;
  top:249px;
  width:236px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:620px;
  top:83px;
  width:157px;
  height:37px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1020px;
  top:401px;
  width:222px;
  height:49px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:49px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:218px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:613px;
  top:143px;
  width:168px;
  height:37px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:520px;
  top:216px;
  width:478px;
  height:514px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:514px;
}
#u12 {
  position:absolute;
  left:2px;
  top:249px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
