body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:180px;
  top:60px;
  width:1080px;
  height:690px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:690px;
}
#u2 {
  position:absolute;
  left:2px;
  top:337px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:210px;
  top:200px;
  width:1020px;
  height:420px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:420px;
}
#u4 {
  position:absolute;
  left:2px;
  top:202px;
  width:1016px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:245px;
  top:240px;
  width:105px;
  height:340px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:340px;
}
#u6 {
  position:absolute;
  left:2px;
  top:162px;
  width:101px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:674px;
  top:113px;
  width:189px;
  height:37px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1100px;
  top:680px;
  width:100px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
